name: Deploy

on: push

jobs:

  build-and-deploy:
    name: build and deploy (main)
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: postmodern.alexdaniel.org
          username: 'progarm'
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: postmodern.alexdaniel.org/progarm-backend:${{ github.sha }} ${{ github.ref == 'refs/heads/main' && ', postmodern.alexdaniel.org/progarm-backend:latest' || '' }}
      - name: Set SSH key
        if: github.ref == 'refs/heads/main'
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Auth
        if: github.ref == 'refs/heads/main'
        run: ssh-keyscan -H postmodern.alexdaniel.org >> ~/.ssh/known_hosts
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: docker stack deploy --with-registry-auth -c compose.yaml progarm-backend
        env:
          DOCKER_HOST: ssh://progarm@postmodern.alexdaniel.org

  build-and-deploy-files:
    name: build and deploy (files)
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./progarmfiles
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: postmodern.alexdaniel.org
          username: 'progarm'
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ./progarmfiles
          push: true
          tags: postmodern.alexdaniel.org/progarm-backend-files:${{ github.sha }} ${{ github.ref == 'refs/heads/main' && ', postmodern.alexdaniel.org/progarm-backend-files:latest' || '' }}
      - name: Set SSH key
        if: github.ref == 'refs/heads/main'
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Auth
        if: github.ref == 'refs/heads/main'
        run: ssh-keyscan -H postmodern.alexdaniel.org >> ~/.ssh/known_hosts
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: docker stack deploy --with-registry-auth -c compose.yaml progarm-backend-files
        env:
          DOCKER_HOST: ssh://progarm@postmodern.alexdaniel.org
